.main_home{
    background-color: $secondaryColor;
    padding-bottom: 20px;
 
    .container{
      position: relative;
      padding-top: 60px;
      padding-bottom: 10px;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .load_more.top{
        position: absolute;
        top: 0;
        left: 50px;
        transform: translateY(-50%);
        font-weight: bold;
      }
  
        h1{
          color: white;
        }
    }
    .load_more{
      color: white;
      background-color: $primaryColor;
      width: min-content;
      white-space: nowrap;
      margin: auto;
      margin-bottom: 2rem;
      padding: 10px 30px;
    }

    .nav{
      display: flex;
      background-color: $primaryColor;
      padding: 2rem 12rem;
      justify-content: space-around;
      li{
        display: flex;
        align-items: center;
        flex-basis: 15%;
        justify-content: space-evenly;
        a{
          color: white;
          font-size: 0.8rem;
          white-space: nowrap;
        }
        img{
          height: 60px;
          padding-right: 10px;
        }
        #power-visa{
          height: 50px;
        }
      }
    }

  }
  

  //card
  .card_box{
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    
    .card_title{
        text-align: center;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: 20px;

    }


}
